<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.security.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.security.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>com.security.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>com.security.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>com.security.FileDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpdate</servlet-name>
        <servlet-class>com.security.FileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDelete</servlet-name>
        <servlet-class>com.security.FileDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.security.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileShare</servlet-name>
        <servlet-class>com.security.FileShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileLock</servlet-name>
        <servlet-class>com.security.FileLock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUnlock</servlet-name>
        <servlet-class>com.security.FileUnlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLogin</servlet-name>
        <servlet-class>com.security.TestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.security.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloadPage</servlet-name>
        <servlet-class>com.security.FileDownloadPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpdatePage</servlet-name>
        <servlet-class>com.security.FileUpdatePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileLockPage</servlet-name>
        <servlet-class>com.security.FileLockPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUnlockPage</servlet-name>
        <servlet-class>com.security.FileUnlockPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDeletePage</servlet-name>
        <servlet-class>com.security.FileDeletePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/user/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/user/FileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpdate</servlet-name>
        <url-pattern>/user/FileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDelete</servlet-name>
        <url-pattern>/user/FileDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileShare</servlet-name>
        <url-pattern>/user/FileShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileLock</servlet-name>
        <url-pattern>/user/FileLock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUnlock</servlet-name>
        <url-pattern>/user/FileUnlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLogin</servlet-name>
        <url-pattern>/TestLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/admin/Logout</url-pattern>
        <url-pattern>/user/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/admin/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadPage</servlet-name>
        <url-pattern>/user/FileDownloadPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpdatePage</servlet-name>
        <url-pattern>/user/FileUpdatePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileLockPage</servlet-name>
        <url-pattern>/user/FileLockPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUnlockPage</servlet-name>
        <url-pattern>/user/FileUnlockPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDeletePage</servlet-name>
        <url-pattern>/user/FileDeletePage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Pages</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Admin</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>User</display-name>
        <web-resource-collection>
            <web-resource-name>User</web-resource-name>
            <description/>
            <url-pattern>/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>User</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>MyJDBC</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginerror.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Administrators</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>Users</description>
        <role-name>user</role-name>
    </security-role>
</web-app>
